@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    background-color: rgb(18, 18, 42);
    display: grid;
  grid-template-columns: 260px 1fr; /* Columna fija para la sidebar (260px) y el resto para el main */
  grid-template-rows: auto 1fr auto; /* Header arriba, contenido flexible al centro, footer abajo */
  grid-template-areas:
    "header  header"
    "main  main"
    "footer  footer";
  min-height: 100vh;
  color: white;
  font-family: "Chakra Petch", sans-serif;
}
/* header */
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: relative;
}
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 85px;
    width: fit-content;
    margin: 0 auto;
}
.categorias-header {
    display: inline-flex;
    flex-direction: column;
    margin-top: -70px;
    margin-left: 20px;
    border: 8px solid #fff;
    background: linear-gradient(135deg, rgb(18, 18, 42) rgb(90, 110, 210)) !important;
    width: 100px;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgb(5, 5, 60);
 }
.introduccion {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 15px;
    width: 950px;
    padding: 10px 4px;
}
.logos-intro {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 10px;
    gap: 130px;
    border: 4px solid #fff;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: fit-content;
}
.nav-header {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    border: 5px solid #fff;
    border-radius: 6px;
    padding: 10px;
}
/*main gt3*/
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border: 6px solid #fff;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.title {
    font-size: 120px;
}
.cat {
    height: 170px;
    border: 4px solid #fff;
    border-radius: 8px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 18px;
}
.logo {
    border: 4px solid #fff;
    border-radius: 8px;
    width: fit-content;
    background-color: #fff;
}
/*AO Racing */
.ao-racing {
    background: linear-gradient(90deg, #141414 20%, #1a531f 75%, #ec407a 100%);
    border: 4px solid #fff;
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.header-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.title-team {
    font-size: 80px;
    width: fit-content;
    margin: 0;
}
.logo-team {
    margin: 0;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
}
.datos-equipos {
    border: 5px solid #fff;
    padding: 5px 10px;
    border-radius: 9px 5px;
    width: 250px;
    height: 478px;
    font-size: 20px;
    margin-left: 20px;
}
.datos-equipo-carrera {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}
.datos-carrera {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 5px solid #fff;
    padding: 5px 10px;
    border-radius: 9px 5px;
    width: 800px;
}
.info-carrera {
    font-size: 20px;
}
.titulo-carrera-circuito {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.circuito-layout {
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    mix-blend-mode: multiply;
}
.telemetria-coche-foto {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.foto-coche {
    border: 5px solid #fff;
    border-radius: 8px;
}
.telemetrias {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 20px;
    width: 800px;
    flex-wrap: wrap;
}
.telemetrias ul ul {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
}
.electronica-lista {
    margin-top: 20px;
}
.title-telemetria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.ruedas-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.info-neumaticos {
    display: flex;
    flex-direction: column;  
    gap: 15px;
    white-space: nowrap;           
}
/*McLaren*/
.mclaren {
    background: linear-gradient(90deg, #121216 20%, #FF8000 100%);
    border: 4px solid #fff;
    min-height: 200px;
    padding: 20px;
}
.datos-equipos-mclaren {
    border: 5px solid #fff;
    padding: 5px 10px;
    border-radius: 9px 5px;
    width: 250px;
    height: 591.5px;
    font-size: 20px;
    margin-left: 20px;
}
.titulo-monaco {
    align-items: flex-start;
}
.telemetrias-mclaren {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 20px;
    width: 1100px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.foto-coche-mclaren {
     border: 5px solid #fff;
     border-radius: 8px;
     margin-top: 20px;
     height: fit-content;
}
/*Ferrari*/
.ferrari {
    background: linear-gradient(90deg, #141414 20%, #DC0000 100%);
    border: 4px solid #fff;
    min-height: 200px;
    padding: 20px;
}
.datos-equipos-ferrari {
    border: 5px solid #fff;
    padding: 5px 10px;
    border-radius: 9px 5px;
    width: 250px;
    height: 595px;
    font-size: 16px;
    margin-left: 20px;
}
.titulo-le-mans {
    align-items: flex-start;
}
.telemetrias-ferrari {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 20px;
    width: 970px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.title-telemetria-ferrari {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.ferrari-coche {
    height: fit-content;
    border: 5px solid #fff;
    border-radius: 8px;
    width: 200px;
    margin-top: 20px;
}
/*guias y setups*/
.guias-setups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5px;
    border: 1px dashed #fff;
    border-radius: 8px;
    width: fit-content;
    gap: 70px;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}  
h1, h2 {
    font-family: Orbitron, sans-serif !important;
}